\#ENTER.bat
\#MAKE.bat
SDL3.dll
Gravitar44.exe
Intro's Remake/NOVA.svg
Intro's Remake/2026.04.03 13-34-40.svg
data/Lettering.svg
Classic/gravitar
\#SDN Design Doc.md
Classic/wavies.png
Classic/wavies 1.png
Classic/wavies 2.png
Classic/wavies 2fat.png
2026-05-13 19-32-54.mkv
libpng16-16.dll
libwebp-7.dll
libwebpdemux-2.dll
libwebpmux-3.dll
SDL3_image.dll
spinning_text_animation_recorder.c
spinningtext half.apng
spinningtext.apng
spinningtext.gif
spinningtext.mp4
spinningtext.webp
data/GRAV.bin
data/5by7.bin
data/GRAV.bin
